* {
  position: relative;
  box-sizing: border-box;
}

html {
  background-color: #22432e;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  min-height: 100%;
}
